bot:
  # Set nick, user/ident, and real name.
  nick: pylink
  user: pylink
  realname: PyLink Service Client
  prefix: "@"

login:
  # PyLink administrative login - Change this, or the service will not start!
  user: admin
  password: changeme

server:
    # Server name, port, and passwords
    netname: whatever
    ip: 127.0.0.1
    port: 7000
    recvpass: "abcd"
    sendpass: "abcd"
    # Hostname we will use to connect to the remote server
    hostname: "pylink.yournet"
    # SID - required for InspIRCd and TS6 based servers. This must be three characters long.
    # The first char must be a digit [0-9], and the remaining two chars may be letters [A-Z] or digits.
    sid: "0AL"
    channel: "#pylink"

# Plugins to load (omit the .py extension)
plugins:
    - hello
    - commands
